<h1 style="background-color: #aaa; color: #white">Listing all solutions with feedbacks</h1>


<div class="contributions">

<% @assignments.each_with_index do |assignment, index| %>
 

<h2>
	<%= index+1 %>
		<%= assignment.user.email %>
</h2>

			<% assignment.peer_review_solutions.each do |solution| %>
					<%= render :inline => solution.text unless solution.text.nil? %>
				  
					<h3>Feedbacks</h3>
					<% assignment.peer_review_feedbacks.each do |feedback| %>
						<hr>
						<div class="user">
								<%= feedback.peer_review_assignment.user.email %>
							
						</div>
						<div class="feedback">
							<%= render :inline => feedback.text unless feedback.text.nil? %>
					  </div>
					<% end%>
			<% end%>
		
<% end %>
</div>