<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>setup.html</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Roland Studer">
	<!-- Date: 2011-02-09 -->
	<%= render 'style' %>
</head>

<body>
<p>Please provide feedback for the task:<br>
	<%= @peer_review.title %></p>

<h2>Instructions for Feedback:</h2>

<%= render :inline => @peer_review.feedback_instructions unless @peer_review.feedback_instructions.nil? %>

<p>Your feedback is due until <%= @peer_review.feedback_due.to_s(:long) %>.</p>

<p>Submit your feedback here: </p>
<a href=" peer_review_assignment_url(@assignment) %>">
	 <%= peer_review_assignment_url(@assignment) %></a>
</body></html>