<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
	<% @assignments.each do |assignment| %>
		<li><%= assignment.peer_review.title %></li>
	<% end %>
	


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
