<fieldset>
	<legend><%= @assignments.count %> Participants</legend>

<section class="participants">
	<table>
		<tr>
			<th></th>
			<th></th>
			<th class="border-right padded">
				<h3>Solutions</h3>
				<p> <%= @peer_review.peer_review_solutions.count %> of <%= @assignments.count %> submitted</p>
			</th>
			<th class="border-right padded">
				<h3>Feedbacks</h3>
				<p> <%= @feedback_count %> of <%= @assignments.count %> submitted</p>
			</th>
			<p>
		</tr>

	<% @assignments.each do |a| %>
		<tr class="<%= cycle("even", "odd") -%>">
			<td><% if Rails.env.development? %><%= link_to a.id, a %><% end %></td>
			<td><%= a.user.email %></td>
			<td class="border-right padded-left"><% if a.peer_review_solutions.first %><span class="ok" /><% elsif @peer_review.reviewing == true %><span class="x" /><% end %></td>
			<td class="border-right padded-left">
				<% a.peer_review_feedbacks.each do |f| %>
					<% if f.text.nil? == false %>
						<span class="ok"></span>
					<% elsif  @peer_review.finished == true %>
						<span class="x" />
					<% end %>
				<% end %></td>
		</tr>
	<% end %>
	<tr><td colspan="3"><%= link_to '+ Assign more participants', assign_peer_review_path(@peer_review), :class => "button" unless @peer_review.started? %></td>
	</table>
</section>
</fieldset>