<section class="task">
	<h2>Task instructions</h2>
	<%= render :inline => @peer_review.task %>
	
	<h2>Feeback instructions</h2>
	
	<%= render :inline => @peer_review.feedback_instructions %>
	
	<h2>Dates and more…</h2>
	<p class="declare"><span>Solution due:</span> <%= @peer_review.solution_due.to_s(:long) %></p>
	<p class="declare"><span>Feedback due:</span> <%= @peer_review.feedback_due.to_s(:long) %></p>
	<p class="declare"><span>Number of feedbacks:</span> <%= @peer_review.number_of_feedbacks %></p>
	<p class="declare"><span>Your email:</span> <%= @peer_review.email %></p>
	
	

</section>


