<h1>Peer Review:<br><%= @peer_review.title %></h1>


<% if @peer_review.finished? %>
	<p class="notice">This peer review exercise is fully completed.</p>

<% elsif @peer_review.reviewing? %>
	<p class="notice">Peers are now giving each other feedback.</p>

<% elsif @peer_review.started? %>
	<p class="notice">The peer review is now running an cannot be edited anymore.</p>
<% end %>



<% unless @errors.empty? %>
	<p class="error"><b>Email couldn't be sent to:</b><br />
	<%= @errors.each do |error| %>
		- <%= error %><br>
	<% end %>
	</p>
<% end %>

<fieldset>
<legend>Your Settings</legend>
<%= render 'peer_review' %>
<%= link_to 'Edit Peer Review', edit_peer_review_path(@peer_review) unless @peer_review.started? %>

</fieldset>


<%= render 'participants' %>
<br />
<%= link_to '+ Assign more participants', assign_peer_review_path(@peer_review) unless @peer_review.started? %>

<section class="breathe">
	<%= form_for :peer_review, @peer_review, :url => {:action => 'start'} do %>
		<%= submit_tag ("Confirm and start peer Review"), :class => "primary-button breathe" unless @peer_review.started? %>
	<% end %>
</section>

<section class="breathe">
	<% if @peer_review.started? %>
		<%= link_to "Show all contributions", "/peer_reviews/#{@peer_review.id}/peer_review_assignments", :class => "primary-button" %>
	<% end%>
</section>

<% if @peer_review.started && @peer_review.reviewing == false %>
<section class="breathe">
		<%= link_to "Start Peer Feedback Now", "/peer_reviews/#{@peer_review.id}/start_feedbacks_manually", :class => "primary-button" %>
</section>

<% end %>

