<p id="notice"><%= notice %></p>

<h2>Solution</h2>
<p>
  <%= simple_format h(@solution.text) %>
</p>
<h2>Feedback</h2>
<p>
  <%= simple_format h(@peer_review_feedback.text) %>
</p>


<%= link_to 'Edit', edit_peer_review_feedback_path(@peer_review_feedback) %> |
<%= link_to 'Back', "/peer_review_assignments/#{@assignment.id}" %>
