<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>new.html</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Roland Studer">
	<!-- Date: 2011-02-09 -->
</head>
<body>
	<h1><%= @peer_review.title %></h1>
	
	<h2>Task instructions</h2>
	<%= simple_format(auto_link(@peer_review.task)) %>
	
	<% form_for @solution do |f| %>
		<%= f.text_area :text %>
		<%= f.text_field :peer_review_id %>
		<%= f.submit 'Save' %>
	<% end %>

</body>
</html>
