<h1><%= @peer_review.title %></h1>

<!-- SUBMIT SOLUTION -->

<% if @solution_late %>
		<div class="failed">
			<h2>Too late. You didn't submit a solution before the due date'</h2>
		</div>
	
<% elsif @solution_none %>
	<div class="current">
		<h2>Submit a solution</h2>
		
		<p><%= link_to 'Submit solution', '/peer_review_assignments/' +  params[:id] + '/peer_review_solutions/new', :class => "primary-button small" %></p>
		
		 <b><%= distance_of_time_in_words( Time.now, @peer_review.solution_due) %>  left</b>
		
	</div>
<% elsif @feedback_started %>
		<div class="done">
			<h2>Submit a solution</h2>

				<div>
							<%= render :inline => @solution.text %>
				</div>
		</div>
<% elsif @solution_present %>
	<div class="done">
		<h2>Submit a solution</h2>
		<div id="solution">
				<%= render :inline => @solution.text %>
				<%= link_to "edit", "/peer_review_assignments/" + @assignment.id.to_s + "/peer_review_solutions/" + @solution.id.to_s + "/edit", :class => "button" %>
			</div>
	</div>
<% end %>

<!-- GIVE FEEDBACK -->
	
<% if @feedback_started == false %>
	<div class="inactive">
		<h2>Give <%= @peer_review.number_of_feedbacks %> feedbacks</h2>
		<p>Feedbacks start in <b><%= distance_of_time_in_words( Time.now, @peer_review.solution_due) %></b></p>
		</div>
<% elsif @feedback_given %>
		<div class="done">
			<h2>Give <%= @peer_review.number_of_feedbacks %> feedbacks</h2>
			<div class="feedback">			
			<% @feedbacks.each_with_index do |feedback, index| %>
					<%= index+1 %> Feedbacks given <%= link_to "show", peer_review_feedback_path(feedback) %>
			<% end %>
			</div>
			
		</div>
<% elsif @feedback_needed %>
	<div class="current">
		<h2>Give <%= @peer_review.number_of_feedbacks %> feedbacks</h2>
		 <p><b><%= distance_of_time_in_words( Time.now, @peer_review.feedback_due) %>  left</b></p>
		
		<div class="feedback">			
			<% @feedbacks.each_with_index do |feedback, index| %>
				<% if feedback.text.nil? %>
					<%= link_to "Give Feedback #{index+1}", edit_peer_review_feedback_path(feedback), :class => "primary-button" %><br>
				<% else %>
				<%= index+1 %> Feedbacks given <%= link_to "show", peer_review_feedback_path(feedback) %>
				<% end %>
		<% end %>
		</div>
		
	</div>
<% end %>	

<!-- READ FEEDBACK -->

<% if @peer_review.reviewing == false %>
	<div class="inactive">
		<h2>Read feedback you got from your peers</h2>
	</div>
<% elsif @feedback_received %>
	<div class="done">
		<h2>Read feedback you got from your peers</h2>
			<div class="feedback">
			<% @received_feedbacks.each_with_index do |r, index|%>
					<div class="feedback-counter">Feedback <%= index+1 %>:</div>
					<%= render :inline => r.text %>
				</div>
		<% end%>
		</div>
	</div>
<% else %>
<div class="inactive">
	<h2>Read feedback you got from your peers</h2>
	<p>Wait for feedback from others</p>
</div>
<% end %>