<h1>UserSessions#new</h1>

<%= @user_session %><br>

<%= session.id %>

<hr>

<% @assignments.each do |a| %>
	<%= a.id %><br>
<% end %>

<hr>

<%= @session %>
<%= params[:key]%>

<%= @current_user.persistence_token %>