<!DOCTYPE html>
<html>
<head>
  <title>Peer Review</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
<!-- <div class="horizontal_link_list secondary padded" id="primary_navigation">
	<%= link_to "Home", '/' %>
	<%= link_to "New", '/peer_reviews/new' %>
	<% if Rails.env.development? %>
		<%= link_to "Peer Reviews", '/peer_reviews' %>
	<% end %>
</div> -->
	
	<% flash_messages %>
	
	
<%= yield %>
<div class="smaller silent border-top breathe-below span-12">
	developed by <a href="mailto:roland.studer@psy.unibe.ch">roland.studer@psy.unibe.ch</a>, for <a href="http://www.edulap.ch">edulap</a>, <a href="http://www.unibe.ch">unibe</a>
</div>


</div>


</body>
</html>
